body {
    font-family: helvetica, arial, sans-serif;
    margin: 2em;
}
  
h1 {
    font-style: italic;
    color: #373fff;
}


/* CSS files add styling rules to your content */
/* for button */

table {
	width: 75%;
}

.popup {
	color: black;
	text-align: center;
  padding: 0.5em;
  transform: translateY(-30px);
}

h3 {
  font-family: Impact, fantasy;
	font-weight: normal;
	font-size: 2em;
  transform: translateY(35px);
  margin-top: 0.2em;
}

p {
	font-family: Impact, fantasy;
	font-size: 1.4em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.llabel p {
	display: inline-block;
  transform: translateY(8px);
/* 	margin: 0 0.4em; */
  padding: 0.5em;
  padding-bottom: 30px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: black;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #f6ed58;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23x);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 2px solid black;
}

.slider.round:before {
  border-radius: 50%;
}